:root {
  --color-white: #fff;
  --text-color: #231f20;
  --accent-color: #cf8c0b;
  --accent-color-transparent: #cf8c0b1a;
}

body {
  color: var(--text-color);
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}
